h1 {
  color: black;
  text-align: center;
}

h2 {
  color: #B84A18;
  font-style: bold;
  text-align: left;
}

p {
  font-family: sans-serif;
}

ul {
  color: #673ab7;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}

